.customCarousel {
  position: relative;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  height: 600px;
  padding: 0px;
  border-radius: 50px;
  margin-bottom: 25px;
  margin-top: 25px;
  img {
    width: 100%; /* Set the width to 100% to fill the carousel item */
    height: 100%; /* Set the height to 100% to fill the carousel item */
    object-fit: cover; /* Maintain aspect ratio while covering the entire space */
  }
}