.container-wrapper {
	height: 90vh;
	display: flex;
	flex-direction: column;

	.exercisecontainer {
		display: inherit;
		flex-direction: inherit;
		align-self: center;
		margin: auto;
		background: rgba(255, 255, 255, 0.7);
		width: 60%;
		padding: 20px;
		border-radius: 20px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		
		.exbutton {
			background: linear-gradient(145deg, #e6e6e6, #ffffff);
			margin: 20px;
			padding: 20px;
			border: none;
			border-radius: 15px;
		}
		
		.exbutton:hover {
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
		}
	}
}

.popover-wrapper {
	/* add breathing room for content within the div */
	margin: 20px 40px 10px 40px;
	
	/* create grid: 1 column, multiple rows */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 10px;
	
	/* center along the x-axis */
	justify-items: center;

		/* positional guide for each element in the grid */
		.popover-div1 { grid-area: 1 / 1 / 2 / 2; }
		.popover-div2 { grid-area: 2 / 1 / 3 / 2; }
		.popover-div3 { grid-area: 3 / 1 / 4 / 2; }
		.popover-div4 { grid-area: 4 / 1 / 5 / 2; }
		.popover-div5 { grid-area: 5 / 1 / 6 / 2; }
		.popover-div6 { grid-area: 6 / 1 / 7 / 2; }
}