.exercisecontainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	
	.exbutton {
		background: linear-gradient(145deg, #e6e6e6, #ffffff);
		margin: 20px;
		padding: 20px;
		border: none;
		border-radius: 15px;
	}
	
	.exbutton:hover {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	}
	
	
}
