h1 {
    text-align: center;
    margin: 25px;
}
h3 {
    text-align: center;
    margin: 15px;
}

.round-border {
    border-radius: 20px;
}

img {
    
	width: 30px;
    height: 30px;
    margin-right: 10px;
  
}

 :root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.menu {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

.menu-button {
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    border: none;
    border-radius: 15px;
    align-items: stretch;
    max-width: 100%;
    min-width: 40%;
    max-height: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
  }

.menu-button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }