h1 {
    text-align: center;
    margin: 25px;
}
h3 {
    text-align: center;
    margin: 15px;
}

.round-border {
    border-radius: 20px;
}

img {
    height: 120px;
    width: 100px;
}

 :root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.musicSection {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-top: 20px; /* Add some margin for better visualization */
  .card {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px; /* Set the width of each card */
    background-color: white;
    margin-right: 20px; /* Add some margin between cards */
    /* box-sizing: border-box; */
    padding: 30px;
    border-radius: 25px;
    box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.5);
    .card_heading{
      color: var(--text-lighter);
      font-size: 1.9rem;
      text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
      line-height: 1.4;
      word-spacing: 100vw;
    }
  }
}



