.musicSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto; /* Center the music section */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-image: linear-gradient(15deg, #0f4667 0%);
}

.card-grid {
  display: flex;
  flex-wrap: wrap; /* Prevent wrapping */
  overflow-x: auto; /* Enable horizontal scrolling */
  justify-content: center;
  align-items: center;
  gap: 30px;
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: calc(50% - 50px);

    min-width: 300px; /* Set the width of each card */
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.5);
    


    .card_heading{
      color: var(--text-lighter);
      font-size: 1.9rem;
      text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
      line-height: 1.4;
      word-spacing: 100vw;
    }
  }
}